@{
    ViewBag.Title = "MyCustomView";
}

<h2>MyCustomView</h2>

@{ 
    var meowList = (List<Meow>)ViewBag.MeowList;
}

<table class="table">
    @foreach (var item in meowList)
    {
    <tr>
        <td> @item.Name </td>
        <td> @item.Age </td>
        <td> @item.Sex </td>
    </tr>
    }
</table>